/* Globales */

:root {
    --ligth: #ffffff;
    --dark: #212121;
    --primary: #f3c949;
    --secundary: #009999;
    --grey: #757575;
    --grey-gradient: #dfe9f3;
}

html {
    font-size: 65.2%;
    box-sizing: border-box;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;

    background-image: linear-gradient(
        to top,
        var(--grey-gradient) 0%,
        var(--ligth) 100%
    );
}

/* Títulos */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}
.title span {
    font-size: 1.7rem;
}

/* Generales */

.container {
    max-width: 70%;
    margin: 0 auto;
}

.shadow {
    box-shadow: 0px 5px 15px 0.48px rgba(113, 113, 113, 1);
    box-shadow: 0px 5px 15px 0.48px rgba(113, 113, 113, 1);
    box-shadow: 0px 5px 15px 0.48px rgba(113, 113, 113, 1);
    background-color: var(--ligth);
    padding: 2rem;
    border-radius: 1rem;
}

.button {
    background-color: var(--secundary);
    color: var(--ligth);
    padding: 0.7rem 2.7rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .button {
        width: auto;
    }
}

.button:hover {
    cursor: pointer;
}

/* Utilidades */

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.align-rigth {
    justify-content: flex-end;
}

.mg-top {
    margin-top: 5rem;
}

/* NavBar */

.nav-bg {
    background-color: var(--secundary);
}

.nav-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-up {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-up a {
    color: var(--ligth);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

.nav-up a:hover {
    background-color: var(--primary);
    color: var(--dark);
}

/* Hero */

.hero {
    background-image: url(/img/hero-programacion-web.jpg);
    background-repeat: round;
    background-size: cover;
    height: 450px;
    /* padding: 20px; */
    position: relative;
    margin-bottom: 2rem;
}

.container-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-hero h2,
.container-hero p {
    color: var(--ligth);
}

/* Servicios */

@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
    }    
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h3 {
    color: var(--secundary);
    font-weight: normal;
}

.service p {
    line-height: 1.5;
    text-align: center;
}

.icons {
    height: 12rem;
    width: 12rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contact */

.form {
    background-color: var(--grey);
    width: min(60rem, 100%); /* Min utilizará el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form fieldset {
    border: none;
}

.form legend {
    color: var(--primary);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bolt;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .camp-container {
        display: grid;  
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;     
    }

    .camp:nth-child(3),
    .camp:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.camp {
    margin-bottom: 1rem;
}

.camp label {
    color: var(--ligth);
    font-weight: bolt;
    margin-bottom: .5rem;
    display: block;
}

.camp textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.send .button {
    width: 100%;
}

/* Footer */

.footer {
    text-align: center;
}