:root {
    --ligth: #ffffff;
    --dark: #212121;
    --primary: #ffc107;
    --secundary: #0097a7;
    --grey: #757575;
}

html {
    font-size: 65.2%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

.title {
    text-align: center;
    font-size: 3.8rem;
}

.title span {
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundary);
}

.nav-up {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-up {
        flex-direction: row;
        justify-content: space-between;

    }
}

.nav-up a {
    color: var(--ligth);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

.nav-up a:hover {
    background-color: var(--primary);
    color: var(--dark);
}


